/* You can add global styles to this file, and also import other style files */
html, body{
    height : 100%;
    position : relative;
    font-size : 0.9em;
}

/* kendo overwriting */
.k-grid-header .k-header {
  vertical-align: top !important;
}

.container-fluid{
    padding-left : 0;
    padding-right : 0;
    margin: 0;
  }

  .row{
    padding-left : 0;
    padding-right : 0;
    margin: 0;
  }

  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.menuItemContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 12px;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    height : 65px;
    width : 88px;
    color:white !important;
    border-bottom: 1px solid rgb(56, 53, 53) !important;
    
}
.menuItemContainer .k-menu-link{
    white-space:normal !important;
    text-align: center;
}

.menuItemContainer:hover {
    background-color: #32d700 !important;
    color:white !important;
   
}

.menuItemContainer .k-icon{
    display: none;
}

.active{
    background-color: white;
    color : black !important;
    font-weight: bold;
    width: 88px !important;
    border-left : 6px solid #32d700 !important;
}

.menuItemContainer:hover span{
    color:white !important;
}

.submenuContainer{
    width: 400px;
    height : 200px;
    padding : 20px;
    border : 1px solid black;
    box-shadow: 10px 10px 8px #888888;
}

.submenuContainer .submenuHeader{
    font-size : 22px;
    font-weight: bold;
    border-bottom: 3px solid black;
    display: flex;
    height : 40px;
    align-items:top;
    
}

.submenuContainer .submenuBody{
    font-size : 14px;
    font-weight: bold;
}

.submenuContainer .submenuBody ul{
    list-style-type: none;
    margin : 0;
    padding : 10px;
}

.submenuContainer .submenuBody ul li{
    display: flex;
    height : 30px;
    justify-content: flex-start !important;
    align-items: center !important;

}

.submenuContainer .submenuBody ul li:hover{
    background-color: #ddd;
    text-decoration: none !important;
}


/*overwrite default css */

*:focus, input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none
}
 

th {
  font-size: 0.9em;
  font-weight: bold !important;
}

td {
  font-size: 0.9em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa !important;
  opacity: 0.8 !important;
  /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa !important;
  opacity: 0.8 !important;
}


/* validation message*/
.help-block {
  color : red;
  display:block;
}

.redText {
  color : red;
  font-weight:bold;
}
